---
permalink: /courses.json
---

[{% for course in collections.betaCourses %}{ 
    "CourseKey": "{{ course.data.gspro_course_key }}", 
    "Name": "{{ course.data.title }}", 
    "DownloadURL": "{{ course.data.gspro_download_url | safe }}", 
    "RemoteVersion": "{{ course.data.gspro_version }}", 
    "CourseFolder": "{{ course.data.gspro_course_folder}}", 
    "CourseLocation": "{{ course.data.location }}", 
    "CourseDesigner": "kenjdavidson", 
    "LastUpdated": "{{ course.data.gspro_last_updated }}",
    "ElevationInFeet": "{{ course.data.gspro_elevation_feet }}"
}{% if not loop.last %},{% endif %}{% endfor %}]
